<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启自动驼峰命名映射-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--指定类别名包，这样在mapperxml中会自动检索包下的所有类-->
    <typeAliases>
        <package name="com.example.mybatis.mybatis.bean"/>
    </typeAliases>
</configuration>